* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    scroll-behavior: smooth;
}

/* font families  
 
font-family: "Sevillana", cursive;
 
  font-family: "Barriecito", system-ui;

  font-family: "Bad Script", cursive;
 
 */
html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-);
}

.flex {
    display: flex;
}

:root {
    --color-background-: #fff;
    --light-blue-: #b281ff;
    --dark-blue-: #7421f9;
    --blue-backrgound-: #be98fc;
    --landing-page-: #B281FF;
}

/* body styling */
.img-cont {
    background-color: #00091A;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.img-cont img {
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* content styling */

article,
article .cont {
    width: 100%;
}

article .cont h5 {
    margin: 3vw 2vw;
    text-align: center;
    font-family: "Bad Script", cursive;
    font-size: 1.5rem;
}

article .cont div.flex {
    padding: 0 2vw;
}

article .cont div.flex .image {
    width: 400px;
    align-self: flex-start;
}

article .cont div.flex img {
    width: 100%;
}

article .cont div.flex ol {
    width: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article .cont li {
    padding: 11px 0px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    width: 80%;
}

article .cont1 div.flex {
    flex-direction: row-reverse;
}








@media only screen and (max-width: 600px) {
    article .cont div.flex {
        flex-wrap: wrap;
    }
}